/* Resset Básico */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: darkmagenta;
  
}

.container {
 
  display: flex;
  background-color: lightblue;
}

/* 
Flex-Shrink -> esrta propiedad funciona un vfactor de contracción encojimiento, reduccion de los elementos de un contenedor flex.

  Flex.shrink: 1; Este es el valor por default de los items, si no se declara esto es lo que aplica. 
  Recibe valores numericos 
*/



.item {
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;  
  border: 1px solid black;
  background-color: lightpink;

}
 
.apachurro1{ 
flex-shrink: 1;
}

.apachurro2 { 
flex-shrink: 2;
}
.apachurro3 { 
flex-shrink: 3;
}
.apachurro4 { 
flex-shrink: 4;
}
