/* Resset Básico */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: darkmagenta;
  
}

/* 
   Gap -> espacio entre los elementos.

   Recibe valores en números con unidades relativas o absolutas. 
   Esta propiedad se pasa al contenedor

*/



.container {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  /*gap: 24px;  Espacio entre los elementos */
  /*gap: 3rem; /* unidades absolutas: px o relativas: em o rem */

  column-gap: 16px; /* Espacio entre los elementos en la vertical*/

  row-gap: 32px; /* Espacio entre los elementos en la horizontal */

  gap: 10px 32px; /* Con dos valores, el primero es para espacio horizontal y el segundo para el espacio vertical */
  
  background-color: lightblue;
}

.item {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;  
  border: 1px solid black;
  background-color: lightpink;

}
 
